<body>
   <div #heading class="head" style="font-size:40px; text-align:center; font-family:Lucida; color:gray; text-decoration:underline;"><h3>Employee Data</h3></div><br><br>

  <div #form_area  style="text-align: center;">
   <label>Employee_Name: </label> 
   <input class="name_inp" type="text" [(ngModel)]="name"><br><br>
   <label>Employee_Number:  </label> 
   <input class="id_inp" type="string" [(ngModel)]="id">
   
   <br><br>
   <button class="btn btn-primary" (click)="submit()">Submit</button>
  </div>
  <br>

  <div #showdata>
    <div #heading style="font-size:40px; text-align:center; font-family:Lucida; color:gray; text-decoration:underline;"><h3>Data Table</h3></div><br><br>

    <table style="border: 1px solid black; width: 100%; text-align: center;"> 
      <tr>
        <th>S.no</th>
        <th>Employee Name</th>
        <th>Employee Number</th>
        <th>Action</th>

      </tr>
      <tbody>
        <tr *ngFor="let val of arr;let i=index " [ngStyle]="{'background-color': (val.num_id%2==0) ? 'orange' : 'lightblue'}">
          
          <td>{{i+1}}</td>
          
          <td>{{val.Name}}</td>
          <td>{{val.num_id}}</td>
          <td><button class="btn btn-danger"(click)="remove(i)">Delete</button> </td>
          <hr>
          
        </tr>
      </tbody>
      
      
    </table>
  </div>
</body>